node_modules/

.DS_Store

/thumbnails

.vscode/**
!.vscode/extensions.json
.idea/

/dist
/backups/
public/movingUI/
public/QuickReplies/
content.log
cloudflared.exe
public/assets/
access.log
/vectors/
/cache/
public/css/user.css

/default/scaffold

